#glow {
  animation: glow 3s infinite;
}

body .container {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

main .main-container {
  max-width: 1300px;
  margin: 0 auto;
}

main .main-container > h1 {
  text-align: center;
  margin: 20px;
  margin-top: 80px;
  font-size: 3rem;
  font-weight: bold;
}

main .main-container .bncc .bncc-carousel {
  max-width: 1000px;
  max-height: 700px;
  margin: 40px auto;
}

main .main-container .bncc .bncc-carousel .carousel-inner {
  z-index: -1;
}

main .main-container .bncc .bncc-carousel .carousel-inner .carousel-item {
  background-color: black;
  height: 600px;
}

main .main-container .bncc .bncc-carousel .carousel-inner .carousel-item img {
  opacity: 0.5;
  height: 600px;
}

@media screen and (max-width: 700px) {
  * {
    font-size: calc(4vw - 5px);
  }
  main .main-container .bncc .bncc-carousel .carousel-inner .carousel-item {
    height: 400px;
  }

  main .main-container .bncc .bncc-carousel .carousel-inner .carousel-item img {
    opacity: 0.5;
    height: 400px;
  }
}

@keyframes glow {
  50% {
    transform: matrix(1, 0, 0, 1, -5, 5);
    text-shadow: 10px 10px 0px #6d6d6d, 20px 20px 0px #a8a8a8,
      30px 30px 0px #e2e2e2;
  }
  100% {
    text-shadow: 0;
  }
}
