<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/header.css">
  <link rel="stylesheet" href="../../css/portfolio.css" />
  <link rel="stylesheet" href="../../css/footer.css">
  <title>Christoper Lim | Portfolio</title>
</head>

<body>
  <div class="container">
    <header>
      <div class="header-top">
        <div class="header-top-container">
          <div class="header-main-title">
            <h1 class="awalAnimasi">Christoper Lim</h1>
          </div>
          <div class="header-sub-title">
            <h3 class="awalAnimasi">Welcome to My Portfolio</h3>
          </div>
        </div>
      </div>
    </header>
    <nav id="nav">
      <div class="header-nav">
        <div class="header-nav-container">
          <div class="nav-logo">
            <a href="#"><img src="../../assets/img/logo.png" alt="logo" /></a>
          </div>
          <div class="nav-list">
            <ul>
              <li>
                <a href="../../index.html">Home</a>
              </li>
              <li>
                <a href="#" class="active">Portfolio</a>
              </li>
              <li>
                <a href="../contactus/contactus.html">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="nav-button">
            <i class="fas fa-bars fa-3x"></i>
            <i class="fas fa-times fa-3x" style="display: none"></i>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="main-container">
        <h1 id="glow">My Portfolio</h1>
        <div class="bncc">
          <div class="bncc-carousel">
            <div id="carouselbncc" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselbncc" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselbncc" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselbncc" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/img/bncc-sertifikat.PNG" class="d-block w-100" alt="sertif">
                  <div class="carousel-caption d-md-block">
                    <h5>BNCC Activist</h5>
                    <p>Becoming activist at BNCC on 2020</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../assets/img/bncc-calc.png" class="d-block w-100" alt="calc">
                  <div class="carousel-caption d-md-block">
                    <h5>BNCC Calculator</h5>
                    <p>Making a calculator app using C programming</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../assets/img/ds-cpp.PNG" class="d-block w-100" alt="DataStructures">
                  <div class="carousel-caption d-md-block">
                    <h5>C DataStructures</h5>
                    <p>Making Datastructures template using C Programming</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselbncc" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselbncc" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="website-rights">
          <h3>Christoper Lim © 2021</h3>
        </div>
        <div class="footer-socials">
          <a href="https://www.instagram.com/christoperlim02/" target="_blank" class="ig"><i
              class="fab fa-instagram fa-2x"></i></a>
          <a href="https://github.com/chris260602" target="_blank" class="github"><i
              class="fab fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/christoper-lim-5459b0164/" target="_blank" class="linkedin"><i
              class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/c5c4426486.js" crossorigin="anonymous"></script>
  <script src="../../js/script.js"></script>
  </div>
</body>

</html>